body {
  font-family: 'Playfair Display', serif;
  background-color: black;
}

.navbar {
background-color: #fff !important;
}
.navbar-brand {
font-size: 1.5rem;
font-weight: bold;
color: #000;
}
.nav-link {
font-size: 1.1rem;
color: #000;
}

section {
padding: 60px 0;
}

h1 {
  color: white; 
}

h2 {
color: white;
}

p {
color: white;
}

footer {
background-color: #343a40;
color: #fff;
}

li { 
color: rgb(177, 173, 173);
}

.image-button-container {
display: flex;
justify-content: space-around;
align-items: center;
}

.image-button {
position: relative;
border: none; 
background: none; 
padding: 0; 
cursor: pointer; 
width: 300px;
height: 300px;
}

.hero {
  position: relative;
  height: 75vh; 
  background-image: url('Images/2023-02-09-e-lee-philadelphia-temple-university-broad-and-montgomery.webp');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  color: white;
  text-align: center;
}

.overlay h2 {
  margin: 0;
}

.education {
  background-color: black;
}

#brand-link {
  position: fixed;
  top: 10px; 
  left: 10px; 
  z-index: 1000; 
  display: block;
}

#brand-background {
  background-color: white; 
  border-radius: 50%; 
  padding: 5px; 
  display: inline-block; 
}

#brand-logo {
  width: 90px; 
  height: auto;
  display: block; 
}

.video-container {
  display: flex;
  justify-content: center; 
  gap: 30px; 
  margin-bottom: 20px; 
  flex-wrap: wrap; 
}

iframe {
  max-width: 560px; 
  width: 100%; 
  border: 2px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  border: 1px solid white; 
  padding: 20px;
  text-align: center;
}


section {
  margin-bottom: 20px; /* Space between sections */
}

.navbar-brand {
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold; /* Optional: makes the text bold */
  color: #000; /* Ensure the text color is appropriate */
  padding: 0.5rem 1rem; /* Optional: adjust padding if needed */
}

.hehe-row {
  position: relative;
  top: 50px;
}

.hehe-text {
  font-family: 'Playfair Display', serif;
}

.hehe1 {
  background: url(imgs/STIT-why-stevens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height:450px;
}
.hehe2 {
  height:450px;
  border: #9D1535 5px solid;
  font-family: 'Playfair Display', serif;
}